# ------------------------------------------------------------------------------
# 1. Explicitly ignore Rust build output & general contents
# Exclude target folder in subdirectories, but allow Cargo project manifests, source code files, and README files.
# ---------------------------------------------------------------------------------
target/

# ------------------------------------------------------------------------------
# 2. Allow Cargo project manifests
# ------------------------------------------------------------------------------
!/Cargo.toml
!/Cargo.lock

# ------------------------------------------------------------------------------
# 3. Allow source directory and Rust source code files
# ------------------------------------------------------------------------------
!/src/
!/src/**
!*.rs

# ------------------------------------------------------------------------------
# 4. Allow ONLY README files
# ------------------------------------------------------------------------------
![Rr][Ee][Aa][Dd][Mm][Ee]*

# ------------------------------------------------------------------------------
# 5. Allow .gitignore itself
# ------------------------------------------------------------------------------
!.gitignore